<p>
  <%= t('.content') %>
</p>

<p>
  <%= t(".time", time: @purchase.created_at) %>
  <br/>
  <%= t('.operation') %>
  <br/>
  <%= t(".tsf", tsf: @purchase.amount * @purchase.unit) %>
  <br/>
  <%= t(".eth", eth: @purchase.total) %>
  <br/>
  <%= t(".gas", gas: @purchase.fee) %>
</p>
