<p>
  <%= t(".desc1") %>
  <br/>
  <%= t(".desc2") %>
  <br/>
  <%= t(".desc3") %>
  <br/>
  <%= t(".desc4") %>
</p>

<p>
  <%= t(".time", time: @time) %>
  <br/>
  <%= t(".amount", amount: @amount) %>
  <br/>
</p>